<p id="notice"><%= notice %></p>

<h1>Pizza Types</h1>

<%= link_to "Cart #{@cart_price}", new_order_path %>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Price</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pizza_types.each do |pizza_type| %>
      <tr>
        <td><%= pizza_type.name %></td>
        <td><%= pizza_type.price %></td>
        <td><%= link_to 'Add', increment_pizza_type_path(pizza_type), method: :patch %></td>
        <% unless @cart[pizza_type.id].zero? %>
          <td><%= @cart[pizza_type.id].to_s %></td>
          <td><%= link_to 'Remove', decrement_pizza_type_path(pizza_type), method: :patch %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Pizza Type', new_pizza_type_path %>
